*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*HEAD+NAVI*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
}

.page-header .container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  margin-left: 156px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.accent {
  color: #2e2f42;
}

.accentt {
  color: #f4f4fd;
}

.head-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navitem {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-left: 76px;
  padding: 24px 0;
}

.navi-first {
  color: #2e2f42;
  padding: 24px 0;
}
.navi-first:hover,
.navi-first:focus {
  color: #404bbf;
}

/*ADDRESS*/

.address-links {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.all-contacts {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 332px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 156px;
  flex-direction: row;
}

.info {
  color: #434455;
}
.info:hover,
.info:focus {
  color: #404bbf;
}

/*SECTION 1*/

.section-one {
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #2e2f42;
  padding: 188px 0;
  width: 1158px;
}
.main-head {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
button {
  background: #4d5ae5;
}

/*SECTION 2*/

.section-two {
  padding: 120px 0;
}

.section-two > p {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-sctn-two {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.list-scnd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 24px;
  margin-bottom: 8px;
}

.list-scnd-title {
  width: calc((100% - 72px) / 4);
}

.para-scnd {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*SECTION 3*/

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.list-thrd {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

.main-thrd {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.name-team {
  padding: 32px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.our-team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.names-thrd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.para-thrd {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/*SECTION 4*/

.main-frth {
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.categories {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-frth {
  width: calc((100% - 48px) / 3);
}

.img-frth {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.para-frth {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*FOOTER*/

.end-chapter {
  background-color: #2e2f42;
  padding: 100px 0;
}

.accentt {
  color: #f4f4fd;
}

.para-end {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.logo {
  display: inline-block;
  margin-bottom: 16px;
}
